@import 'tailwindcss';
@plugin '@rinn7e/realworld-design-system/plugin';
@source '../../node_modules/@rinn7e/realworld-design-system';

@theme {
  --color-brand-primary: #5cb85c;
  --color-brand-secondary: #000;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    @apply relative text-base text-[#373a3c] antialiased;
  }
}
